################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
**/.vs/*
**/bin/*
**/obj
**/launchSettings.json
**/appsettings.Development.json
/CryptoDashboard/CryptoDashboard.Api/CryptoDashboard.Api.csproj.user
